<header class=" d-flex justify-content-center py-3"> <!--TODO zrobic tlo czarn!!! -->
    <ul class="nav nav-pills">
        <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="#" data-toggle="modal" data-target="#socialModal" class="nav-link">Links &
            Contact</a></li>
        <li class="nav-item"><a href="/iwantresume" class="nav-link">Download Resume</a></li>
        <li class="nav-item"><a href="/contents" class="nav-link">Blog</a></li>
    </ul>
</header>
<div class="modal fade" id="socialModal" tabindex="-1" role="dialog" aria-labelledby="socialModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title nav-link" id="socialModalLabel">Links & Contact</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Connect with me via:</p>
                <ul class="list-unstyled text-center">
                    <li><a href="https://github.com/welmac0" class="text-secondary mx-2"><i class="fab fa-github"></i>GitHub</a></li>
                    <li><a href="https://linkedin.com/in/mwelpa" class="text-secondary mx-2"><i class="fab fa-linkedin"></i>Linked In</a></li>
                    <li><a href="https://x.com/MWelpa_" class="text-secondary mx-2">X.com</a></li>  
                    <li><a href="mailto:mwelpa0@gmail.com" class="text-secondary mx-2">mwelpa0@gmail.com</a></li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
