<div class="container-fluid bg-light">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h6 class="card-title">Timeline</h6>
                    <div id="content">
                        <ul class="timeline">
                            {% for event in content["timeline"] %}
                            <li class="event" data-date="{{event.date}}">
                                <h3>{{event.title}} @ <a href="{{event.web}}">{{event.company}}</a></h3>
                                <p>{{event.description}}</p>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>